@tailwind base;
@tailwind components;
@tailwind utilities;
@include '/fonts/inter.css';

@font-face {
	font-family: 'Inter';
	font-weight: 100 900;
	font-display: swap;
	font-style: oblique 0deg 10deg;
	src: url('fonts/inter.var.woff2') format('woff2');
}

* {
	font-feature-settings: 'case' 1, 'tnum' 1, 'ss01' 1, 'ss02' 1, 'salt' 1;
}

body {
	@apply text-xs font-medium text-slate-12 select-none;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}

*:focus {
	@apply outline-none;
}

*:focus-visible {
	@apply outline-2 outline-offset-0 outline-indigo-7 ring-0 z-10;
}

.form-checkbox {
	@apply focus-visible:outline-2 focus-visible:outline-indigo-7;
	box-shadow: none !important;
}

.drag-region {
	app-region: drag;
}

.no-drag-region {
	app-region: no-drag;
}

select {
	background: none;
}

#root,
body,
html {
	height: 100%;
}

.icon-size {
	width: 15px;
	height: 15px;
}
