@tailwind base;
@tailwind components;
@tailwind utilities;
body {
	@apply text-xs font-medium text-slate-12 select-none;
}

*:focus-visible {
	@apply outline-none ring-2 ring-indigo-8;
}

.drag-region {
	@apply fixed w-full h-9;
	app-region: drag;
}

@font-face {
	font-family: 'Inter UI';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('/fonts/Inter-UI-Regular.woff2') format('woff2'),
		url('/fonts/Inter-UI-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Inter UI';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('fonts/Inter-UI-Medium.woff2') format('woff2'),
		url('fonts/Inter-UI-Medium.woff') format('woff');
}

@font-face {
	font-family: 'Inter UI';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url('fonts/Inter-UI-SemiBold.woff2') format('woff2'),
		url('fonts/Inter-UI-SemiBold.woff') format('woff');
}

@font-face {
	font-family: 'Inter UI';
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: url('fonts/Inter-UI-ExtraBold.woff2') format('woff2'),
		url('fonts/Inter-UI-ExtraBold.woff') format('woff');
}

#root,
body,
html {
	height: 100%;
}
